<h3>{{bunchesStore.name}} Store</h3>
<div class="row bricksList">
  <div id="BaB-{{size}}" class="col-sm-4 well brick-{{size}}" ng-repeat="(size, brick) in bunchesStore.redBricks">
    <p>Size: Red {{size}}</p>
    <p>Quantity: <span class="quantity" >{{brick.quantity}}</span></p>
    <p>Price: {{brick.price}}</p>

    <div>
      <p ng-if="brick.quantity < 5" class="highligth"> Coming soon </p>
      <p>Operation on Cart </p>
      <button ng-click='bunchesStore.addToCart(brick)'>+</button>
      <button ng-click='bunchesStore.removeFromCart(brick)'>-</button>
   </div>
 </div>
</div>

<div class="row bricksList">
 <div id="BaB-{{size}}" class="col-sm-4 well brick-{{size}}" ng-repeat="(size, brick) in bunchesStore.yellowBricks">
   <p>Size: Yellow {{size}}</p>
   <p>Quantity: <span class="quantity">{{brick.quantity}}</span></p>
   <p>Price: {{brick.price}}</p>
   <div>
     <p ng-if="brick.quantity < 5" class="highligth"> Coming soon </p>
     <p>Operation on Cart </p>
     <button ng-click='bunchesStore.addToCart(brick)'>+</button>
     <button ng-click='bunchesStore.removeFromCart(brick)'>-</button>
   </div>
  </div>
</div>
